<?xml version="1.0" encoding="UTF-8" ?>
   <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "de.2k-yachting.signalflags"
        version     = "1.0.0"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.5.0" />

        <name>SignalFlags</name>

        <description>
        SignalFlags mit PhoneGap. 
        </description>

        <author href="http://2k-yachting.de" email="info@2k-yachting.de">
        2K Yachting
        </author>

    </widget>