@font-face {
	font-family: 'SourceSansPro-Semibold';
	src: url('../SourceSansPro_Semibold/SourceSansPro-Semibold.eot');
	src: url('../SourceSansPro_Semibold/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
url('../SourceSansPro_Semibold/SourceSansPro-Semibold.ttf') format('truetype');
}