@font-face {
	font-family: 'SourceSansPro';
	src: url('SourceSansPro-Regular.eot');
	src: url('SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('SourceSansPro-Regular.ttf') format('truetype');
}